.App {
  text-align: center;
}

.parent {
  width: 400px;
  aspect-ratio: 1/1.25;
  /* border: 1px solid black; */
  position: relative;
  background-image: url("/public/bgg.png");
  background-size: cover;
  margin: 20px auto;
}

.child {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  position: absolute;
}
