.App {
  text-align: center;
}

.parent {
  
  
  aspect-ratio: 1;
  /* border: 1px solid black; */
  position: relative;
  background-image: url("/public/default2.jpg");
  background-size: cover;
  width: 500px;
  height: 500px;
}

.child {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  position: absolute;
}

.active {
  border: 6px solid black;
}
.bold {
  font-weight: 900;
}